<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>My Diary</h1>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <app-diary-form (addDiary)= "addNewDiary($event)"></app-diary-form>
    </div>


<div class="col-md-6">

<ul>
    <div *ngFor='let diary of diaries' let i = "index">
      <li id="{{i}}"appHighlight>{{diary.name}} {{diary.completeDate|date}}</li>
      <app-diary-details [diary]='diary' (isComplete)='completeDiary($event,i)'></app-diary-details>
    </div>
    </ul>

</div>
</div>

</div>


